:root{

}
/* RESET */
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
.container-fluid{
  padding:0 !important;
}
.row > *{
  padding: 0;
}
.row{
  margin:0 !important;
}
h1,h2,h3,h4,h5{
	margin:0 !important;
}
p{
	margin:0 !important;
}
ul{
  margin-bottom: 0 !important;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden !important;
}
/* RESET */

#principal{
  width: 100% !important;
  height: 100vh !important;
  background-color: black !important;
  padding: 2% 0 !important;
}

.banner01{
  bottom:50% !important;
  left:5% !important;
  width: 100%;
  transition-delay: 6s;
  animation: letrasIzquierda 2s;
}
.banner01 h3,
.banner02 h3,
.banner03 h3,
.banner04 h3{
  font-size: 5rem !important;
}
@keyframes letrasIzquierda{
  from{
    margin-left: -50%;
  }
  to{
    margin-left:0%;
  }
}

.banner02{
  bottom:50% !important;
  left:-5% !important;
  width: 100%;
  animation-delay: 5s;
  animation: letrasDerecha 2s;
}
@keyframes letrasDerecha{
  from{
    margin-left: 50%;
  }
  to{
    margin-left:0%;
  }
}
.banner03{
  bottom:45% !important;
  left:0% !important;
  width: 100%;
  transition-delay: 5s;
  animation: letrasTop 2s;
}
@keyframes letrasTop{
  from{
    margin-bottom: 50%;
  }
  to{
    margin-bottom:0%;
  }
}
.banner04{
  top:35% !important;
  left:0% !important;
  width: 100%;
  transition-delay: 5s;
  animation: letrasBottom 2s;
}
@keyframes letrasBottom{
  from{
    margin-top:50%;
  }
  to{
    margin-top:0%;
  }
}

.carousel-dark .carousel-indicators [data-bs-target]{
  background-color:white !important;
}


/* TABLET */
@media (max-width: 820px){
  #principal{
     height: 100% !important;
  }
  .cardContenedor{
    height: 350px !important;
  }
}

/* MOVIL */
@media (max-width: 380px){
  #principal{
    padding: 10% 0 !important;
    height: 100% !important;
  }
  .cardContenedor{
    height: 300px !important;
  }
  .cardFront{
    border:.5rem solid red !important;
  }
  .cardBack{
    border:.5rem solid blue !important;
  }
  h5{
    font-size: .9rem !important;
  }
}
